= javascript_include_tag "libs/jquery.min.js"
= javascript_include_tag "libs/jquery-migrate-3.3.0.min.js"
= javascript_include_tag "libs/bootstrap.min.js"
= javascript_include_tag "libs/jqBootstrapValidation.js"
= javascript_include_tag "scripts.js"
- if current_page.data.extra_js
  - current_page.data.extra_js.each do |js_name|
    = javascript_include_tag "#{js_name}"

:javascript
  $.ajax({
    url: '//munchkin.marketo.net/munchkin.js',
    dataType: 'script',
    cache: true,
    success: function() {
      Munchkin.init('194-VVC-221');
    }
  });
